body {
    background-color: rgba(255, 255, 255, 0.1)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, lightgreen, lightblue);
}

.logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 17px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links {
    list-style-type: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 12px;
}

.login {
    color: red;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease-in;
}

@media screen and (max-width: 1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background:lightblue;
        opacity: .8;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .lin1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .lin2{
    opacity: 0;
}
.toggle .lin3{
    transform: rotate(45deg) translate(-5px, -5px);
}

.no-signed:hover {

}

.student {
    text-align: center;
    margin-top: 15rem;
    margin-right: 40rem
}